
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0c0e3f;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    padding: 12px 34px;
    margin: 40px 20px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
      font-size: 24px;
      text-transform: capitalize;
}

.links{
    margin-left: 22px;
}


.links a {
padding: 12px;

}