/* *:hover{
    color: #facb3c;
} */
header {
    margin-top: -1%;
    height: 100px;
    background: #89ca28;
}
.contact{
    margin-top: 7rem;
    /* margin: 0 2rem; */
    padding: 3rem 2rem;
    box-sizing: border-box;
}
.heading {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}
.group {
    /* margin: 0; */
    margin-bottom: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timing {
    color: #fff;
    margin: 0rem 1.5rem;
    padding: 1.5rem 1rem;
    display: block;
    box-sizing: border-box;
    border: 1.5px dotted #fff;
}
.email {
    color: #fff;
    margin: 0rem 1.5rem;
    padding: 1.5rem 1rem;
    display: block;
    box-sizing: border-box;
    border: 1.5px dotted #fff;
    cursor: pointer;
}
.add {
    color: #fff;
    margin: 0rem 1.5rem;
    padding: 1.5rem 1rem;
    display: block;
    box-sizing: border-box;
    border: 1.5px dotted #fff;
}
.faq {
    margin: 0 2.5rem;
    padding: 1rem 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ques {
    width: 50%;
    display: block;
    box-sizing: border-box;
    border: 1.5px solid #fff;
    margin: 0 .5rem;
    padding: 1rem 1.5rem;
}
.heading1 {
    margin-bottom: 8px;
}
.team {
    width: 50%;
    display: block;
    box-sizing: border-box;
    border: 1.5px solid #fff;
    margin: 0 .5rem;
    padding: 1rem 3rem;
}
.team h4 {
    margin-bottom: 8px;
}