@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* cursor: pointer; */
}

body {
  background-color: #0c0e3f;
} 

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

li{
    list-style: none;
}
/* ==================headerStart====================== */
header {
  padding: 10px 34px;
  margin: 22px 0px;
  position:absolute;
  top: 0;
  width: 100%;
  /* background-color: #fff; */
  z-index: 999;
  /* border-bottom: #f4f6f7; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.links {
  margin-left: 22px;
}

.links a {
  padding: 12px;
  margin: 0 20px;
}

.links a:hover {
  color: #facb3c;
  transition: 0.3s;
  /* text-decoration: underline; */
}

/* =================headerEnd========================= */

/* ========================bannerStart==================== */

.banner-container {
  position: relative;
  overflow: hidden;
}

.banner-container img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  transition: transform ease-in-out;
  transform: scale(1.2);
}

.banner-container img.active {
  opacity: 1;
  transform: scale(1);
}

.banner-container img {
  object-fit: cover;
}
.banner-img {
  overflow: hidden;
  filter: opacity(50%);
}
.banner-img img {
  animation: sliderZoom 12s linear infinite;
}

@keyframes sliderZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

.tagline {
  margin: 1rem 0;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2.40rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.tagline-h2 {
margin-top: 20px;
margin-left: 100px;
}
.clr:hover {
  color: #facb3c;
}


/* =============================bannerEnd====================== */

.group-btn {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #facb3c;
  padding: 16px 34px;
  margin: .5rem 7rem;
  transform: translateY(-120%);
}

.dedicated-btn {
  display: flex;
  align-items: center;
}
.dedicated-btn p {
  font-size: 1.4rem;
}

.dedicated-btn i {
  padding-right: 12px;
  font-size: 26px;
}
.dedicated-btn .check-icon {
  padding-left: 12px;
}

.dedicated-btn a {
  font-size: 1.4rem;
}

/* ==================sales================== */
/* .sales-container{
    background: #fff;
    margin: 8rem 7.6rem;
    padding: 24px 34px;
    
}

.sales-content .sales-outsourcing{
font-size: 18px;
padding: .8rem 0;
}


.sales-content .sales-para{
    padding: .8rem 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.sales-content .btn{
padding: 12px 24px;
border-radius: 12px;
cursor: pointer;
border: none;
background-color: blueviolet;
color: white;
font-size: 16px;
} */



/* ===============================why choose us?================ */

.choose-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content {
  margin: 2rem 4rem;
  padding: 3rem 2rem;
}

.image-content:hover {
  animation: sliderZoom 12s linear infinite;
}

@keyframes sliderZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}


.choose-content {
  margin: 2rem .5rem;
  padding: .5rem 0;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.choose-content h1{
  margin: 1rem 1.5rem;
  color: #d5473f;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.choose-content h1:hover{
  color: #facb3c;
}

.choose-content p{
  font-weight: 200;
  margin: 0 .5rem;
  padding: 0 .2rem;
}

.choose-content button {
  font-size: .9rem;
  font-weight: 700;
  margin: 3.5rem 3rem;
  padding: 0;
  display: inline-block;
  justify-content: space-between;
  /* align-items: ; */
  text-align: start;
  color: antiquewhite;
  background: none;
  border: none;
  text-decoration: none;
}

.choose-content button:hover{
  text-decoration: dotted;
  color: #facb3c;
}

/* =======================Focused sector container================== */

.section-space {
  margin: 4rem 7.6rem;
}

.selling-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.selling-content {
  text-align: center;
  margin: 25px auto;
  color: #fff;
}
.selling-content h2 {
  font-size: 32px;
  padding: 12px 0;
  font-weight: 400;
  
}
.selling-content p {
  font-size: 18px;
  padding: 12px 0;
}


.selling-card {
  flex: 1 1 21rem;
  display: flex;
  flex-direction: column;
  align-self: normal;
  background: #89ca28;
  opacity: 100%;
  text-shadow: #6c6c6c;
  padding: 12px 26px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 15px lightblue;
  filter: grayscale(100%);
}

.selling-card:hover 
{
  opacity: 90%;
  filter: grayscale(0%);
  transition: transform ease-in-out;
  transform: scale(1.2);
  transform: translateY(-10%);
}

.selling-card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 22px; */
}

.selling-card p {
  padding: 24px 0;
  line-height: 28px;
  font-size: 18px;
}
.selling-card p:hover {
  font-weight: 500;
  color: #fff;
}

.selling-card .selling-btn {
  width: 120px;
  padding: 11px 22px;
  border: none;
  color: white;
  background-color: blueviolet;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
  /* display: inline-block; */
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
}

/* ==============================clients==================== */
.single-logo {
  width: 100px;
}
.brand-carousel {
  background: transparent;
}
.owl-dots {
  text-align: center;
  margin-top: 7%;
}
.owl-dot {
  display: inline-block;
  height: 12px !important;
  width: 12px !important;
  background-color: #878787 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-dot.active {
  background-color: #29487a !important;
}

@media only screen and (max-width: 600px) {
  .single-logo {
    margin-left: 36px !important;
  }
  .accordion button {
    font-size: 16px !important;
    line-height: 26px !important;
  }

  .accordion button .icon {
    top: 35% !important;
    width: 38px !important;
    height: 32px !important;
  }
}


/* ============================clients==================== */
.clients {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
  padding: .5rem 0;
  height: 2rem;
  /* text-decoration: underline; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #facb3c;
}

/* ==================footer==================== */
footer {
    /* background-color: #f4f6f7; */
    color: #fff;
    margin: 2rem 1.5rem;
    padding: 0 2rem;
  }
  footer .logo img{
    width: 22rem;
    height: 5.5rem;
  }
  
  footer .row-one {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  footer .row-one .logo-links{
    padding-left: 86px;
  }
  
  footer .row-one ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  footer .row-one ul a {
    padding-right: 20px;
    font-size: 26px;
    /* color: #6c6c6c; */
  }
  
  footer .second-row {
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  footer .second-row h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c;
    padding-bottom: 15px;
  }
  
  footer .second-row li {
    list-style:disc;
    margin: 1rem 0;
    padding-bottom: 12px;
  }
  
  footer .second-row li a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    /* color: #121212; */
  }
  
  footer .second-row .first-row:nth-child(4) {
    max-width: 300px;
  }
  
  footer .second-row .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
  }
  
  footer .second-row .newsletter input {
    width: 100%;
    height: 44px;
    border-radius: 50px;
    padding: 0 24px;
    border: 0;
    background-color: rgba(33, 33, 33, 0.12);
    font-weight: 500;
    outline: none;
  }
  
  footer .second-row .newsletter input:placeholder {
    opacity: 1;
    /* color: #6c6c6c; */
  }
  
  footer .second-row .newsletter button {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    font-size: 20px;
    /* color: #121212; */
    background-color: none;
    cursor: pointer;
  }
  
  footer .second-row .text {
    margin-top: 16px;
  }
  /* =====================copyrights================= */

   .copyright {
    margin: 1rem 4.2rem;
    padding: 1rem 5rem;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    border-bottom: #6c6c6c;
    border-top: #6c6c6c;
  }
